<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 类型别名的配置 -->
<!-- 	<typeAliases>
		<typeAlias type="cn.itcast.pojo.UserModel" alias="UserModel"/>
		<package name="cn.itcast.pojo"/>
	</typeAliases> -->
	

</configuration>